{% extends "base.html" %}
{% set active_page = 'angaben' %}

{% block title %}Unterlagen{% endblock %}

{% block content %}
    <h1 class="my-4">Bestelldetails</h1>
    <form method="POST">
        {% for panel in fields_df['panel'].unique() %}
            {% set fields_in_panel = fields_df[fields_df['panel'] == panel] %}
            {% set panel_fields_to_show = fields_in_panel[fields_in_panel.index.isin(fields_to_show)] %}
            {% if not panel_fields_to_show.empty %}
                <h4>{{ panel }}</h4>
                {% for field in panel_fields_to_show.itertuples() %}
                    <div class="form-group">
                        <label for="{{ field.id }}">{{ field.name }}</label>
                        <input type="{{ field.type }}" class="form-control" id="{{ field.id }}" name="{{ field.id }}" value="{{ session.get(field.id, '') }}" {% if field.required == 'x' %}required{% endif %}>
                    </div>
                {% endfor %}
            {% endif %}
        {% endfor %}
        
        <div class="form-row my-4">
            <div class="col-6 text-left">
                <a href="{{ url_for('kundendaten') }}" class="btn btn-secondary">Zurück</a>
            </div>
            <div class="col-6 text-right">
                <button type="submit" class="btn btn-primary">Weiter</button>
            </div>
        </div>
    </form>
{% endblock %}