{% extends "base.html" %}
{% set active_page = 'produkte' %}

{% block title %}Unterlagen bestellen{% endblock %}

{% block content %}
    <h1 class="my-4">Unterlagen</h1>
    <div class="row">
        <div class="col-12">
            <ul class="list-group">
                {% for document in documents %}
                    <li class="list-group-item" data-toggle="tooltip" title="{{ document.beschreibung }}">
                        {{ document.name }} - {{ document.preis }}€
                    </li>
                {% endfor %}
            </ul>
            <a href="{{ url_for('immobiliendaten') }}" class="btn btn-primary mt-3 float-right">Weiter</a>
        </div>
    </div>
{% endblock %}