<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Produkte</title>
    <style>
        .tooltip-inner {
            max-width: 350px;
            text-align: left;
        }
        .custom-tooltip {
            position: absolute;
            z-index: 9999;
            pointer-events: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Produkte</h1>
        <div class="row">
            <div class="col-12">
                <ul class="list-group">
                    {% for document in documents %}
                        <li class="list-group-item" data-toggle="tooltip" title="{{ document.beschreibung }}">
                            {{ document.name }} - {{ document.preis }}€
                        </li>
                    {% endfor %}
                </ul>
                <a href="{{ url_for('immobiliendaten') }}" class="btn btn-primary mt-3 float-right">Weiter</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                trigger: 'manual',
                placement: 'right'
            }).on('mouseenter', function (e) {
                var $this = $(this);
                $this.tooltip('show');
                $('.tooltip').addClass('custom-tooltip');
            }).on('mousemove', function (e) {
                $('.custom-tooltip').css({
                    left: e.pageX + 10 + 'px',
                    top: e.pageY + 10 +'px'
                });
            }).on('mouseleave', function () {
                $(this).tooltip('hide');
            });
        });
    </script>
</body>
</html>