{% extends "base.html" %}
{% set active_page = 'zusammenfassung' %}

{% block title %}Unterlagen bestellen{% endblock %}

{% block content %}
    <h1 class="my-4">Bestellung</h1>
    <form>
        <!-- Formularelemente für Bestellung hier hinzufügen -->
        <div class="row">
            <div class="col-6 text-left">
                <a href="{{ url_for('eigentuemervollmacht') }}" class="btn btn-secondary">Zurück</a>
            </div>
            <div class="col-6 text-right">
                <a href="{{ url_for('bezahlung') }}" class="btn btn-primary">Weiter</a>
            </div>
        </div>
    </form>
{% endblock %}